<!-- <div class="container">
  <div class="card col-md-8 offset-md-2 text-black bg-light mb-3">
    <div class="card-body">
      <button class="btn btn-secondary float-right" (click)="addNewColumn()">Add Column</button><br><br>

      <form (ngSubmit)="onSubmit()" novalidate>
        <div *ngFor="let i of tableinfo">
          <div class="form-group">
            <label><b>Table name </b><span class='asteriskcolor'>*</span></label>
            <input type="text" class="form-control" id="tablename" [(ngModel)]="i.tablename" name="tablename" required>
          </div>
          <div class="form-group">
            <label><b>Description </b><span class='asteriskcolor'>*</span></label>
            <input type="text" name="Description" class="form-control" id="description" [(ngModel)]="i.Description"
              required>
          </div>
        </div>
        <div class="table">
          <th>Column Name</th>
          <th>Label</th>
          <th>Column Type</th>
          <th>Primary Key</th>
          <th>Action</th>
          <tr *ngFor="let x of colinfo1">
            <td><input class="form-control" name="{{x.fieldname}}" [(ngModel)]="x.fieldname" readonly></td>
            <td><input class="form-control" name="{{x.label}}" [(ngModel)]="x.label" readonly></td>
            <td><input class="form-control" name="{{x.fieldtype}}" [(ngModel)]="x.fieldtype" readonly></td>
            <td><input class="form-control" name="{{x.konstraint}}" [(ngModel)]="x.konstraint" readonly></td>
            <td><button type="button" class="btn" (click)="removeColumn(x.fieldname)">delete</button></td>
          </tr>
        </div>
        <fieldset *ngFor="let column of columns;let i=index">
          <div class="row">
            <div class="col">
              <label><b>Column Name </b><span class='asteriskcolor'>*</span></label>
              <input type="text" class="form-control" #colname="ngModel" [(ngModel)]="column.colname" name="colname{{i}}"
                required>
              <span class="error" *ngIf="!colname.valid && colname.dirty">Column Name is required!</span>
            </div>
            <div class="col-md-6" *ngIf="column.type != 'dropdown'">
              <label><b>Primary Key </b></label>
              <input type="checkbox" class="form-control" #constraints="ngModel" [(ngModel)]="column.constraints" name="constraints{{i}}"
                readonly><br>
            </div>
            <div class="col-md-12">
              <label><b>Label </b><span class='asteriskcolor'>*</span></label>
              <input type="text" class="form-control" #label="ngModel" [(ngModel)]="column.label" name="label{{i}}"
                required>
              <span class="error" *ngIf="!label.valid && label.dirty">Label is required!</span>
            </div>
            <div class="col-md-6">
              <label><b>Field type </b><span class='asteriskcolor'>*</span></label>
              <select type="text" class="form-control" #type="ngModel" [(ngModel)]="column.type" name="type{{i}}"
                required>
                <option value="text">Text</option>
                <option value="varchar">Email</option>
                <option value="integer">Integer</option>
                <option value="bigint">Big Int</option>
                <option value="date">Date</option>
                <option value="dropdown">dropdown</option>
              </select>
            </div>
            <div class="col-md-6" *ngIf="column.type == 'dropdown'">
              <label>Dropdown Value <i Style="color: red">*</i></label>
              <a type="button" class="btn btn-primary float-right" (click)="dropdown(i)" value="add"></a>
              <div *ngFor="let dropdown of dropdownlist[i]; let y=index">
                <input class="form-control" name="{{y}}dd{{column.colId}}" type="text" [(ngModel)]="column[(dropdown.id)]"><br>
              </div>
            </div>
          </div>
        </fieldset><br><br>
        <td colspan="2"> <button class="btn btn-secondary float-right" type="submit">Submit</button></td>
      </form>
    </div>
  </div>
</div> -->







<div class="container">
    <div class="card col-md-8 offset-md-2 text-black bg-light mb-3">
      <div class="card-body">
        <button class="btn btn-secondary float-right" (click)="addNewColumn()">Add Column</button><br><br>
  
        <form (ngSubmit)="onSubmit()" novalidate>
          <div *ngFor="let i of tableinfo">
            <div class="form-group">
              <label><b>Table name </b><span class='asteriskcolor'>*</span></label>
              <input type="text" class="form-control" id="tablename" [(ngModel)]="i.tablename" name="tablename" required>
            </div>
            <div class="form-group">
              <label><b>Description </b><span class='asteriskcolor'>*</span></label>
              <input type="text" name="Description" class="form-control" id="description" [(ngModel)]="i.Description"
                required>
            </div>
          </div>
          <div class="table">
            <th>Column Name</th>
            <th>Label</th>
            <th>Column Type</th>
            <th>Primary Key</th>
            <th>Action</th>
            <tr *ngFor="let x of colinfo1">
              <td><input class="form-control" name="{{x.fieldname}}" [(ngModel)]="x.fieldname" readonly></td>
              <td><input class="form-control" name="{{x.label}}" [(ngModel)]="x.label" readonly></td>
              <td><input class="form-control" name="{{x.fieldtype}}" [(ngModel)]="x.fieldtype" readonly></td>
              <td><input class="form-control" name="{{x.konstraint}}" [(ngModel)]="x.konstraint" readonly></td>
              <td><button type="button" class="btn" (click)="removeColumn(x.fieldname)">delete</button></td>
            </tr>
          </div>
          <fieldset *ngFor="let column of columns;let i=index">
            <div class="row">
              <div class="col">
                <label><b>Column Name </b><span class='asteriskcolor'>*</span></label>
                <input type="text" class="form-control" #colname="ngModel" [(ngModel)]="column.colname" name="colname{{i}}"
                  required>
                <span class="error" *ngIf="!colname.valid && colname.dirty">Column Name is required!</span>
              </div>
              <div class="col-md-6" *ngIf="column.type != 'dropdown'">
                <label><b>Primary Key </b></label>
                <input type="checkbox" class="form-control" #constraints="ngModel" [(ngModel)]="column.constraints" name="constraints{{i}}"
                  readonly><br>
              </div>
              <div class="col-md-12">
                <label><b>Label </b><span class='asteriskcolor'>*</span></label>
                <input type="text" class="form-control" #label="ngModel" [(ngModel)]="column.label" name="label{{i}}"
                  required>
                <span class="error" *ngIf="!label.valid && label.dirty">Label is required!</span>
              </div>
              <div class="col-md-6">
                <label><b>Field type </b><span class='asteriskcolor'>*</span></label>
                <select type="text" class="form-control" #type="ngModel" [(ngModel)]="column.type" name="type{{i}}"
                  required>
                  <option value="text">Text</option>
                  <option value="varchar">Email</option>
                  <option value="integer">Integer</option>
                  <option value="bigint">Big Int</option>
                  <option value="date">Date</option>
                  <option value="dropdown">dropdown</option>
                </select>
              </div>
              <div class="col-md-6" *ngIf="column.type == 'dropdown'">
                <label>Dropdown Value <i Style="color: red">*</i></label>
                <a type="button" class="btn btn-primary float-right" (click)="dropdown(i)" value="add"></a>
                <div *ngFor="let dropdown of dropdownlist[i]; let y=index">
                  <input class="form-control" name="{{y}}dd{{column.colId}}" type="text" [(ngModel)]="column[(dropdown.id)]"><br>
                </div>
              </div>
            </div>
          </fieldset><br><br>
          <td colspan="2"> <button class="btn btn-secondary float-right" type="submit">Submit</button></td>
        </form>
      </div>
    </div>
  </div>















































































































<!-- <fieldset *ngFor="let column of columns">
          <div class="row">
            <div class="col">
              <label><b>Column name</b></label>
              <input id="text" name="colname{{$index}}" class="form-control" type="text" [(ngModel)]="column.ColInfo.name"
                placeholder="Column Name" required>
            </div>
            <div class="col">
              <label><b>Column type</b></label>
              <select id="dtype" name="coltype{{$index}}" class="form-control" [(ngModel)]="column.ColInfo.type"
                required>
                <option value="text">Text</option>
                <option value="integer">Integer</option>
                <option value="bigint">Big Int</option>
                <option value="varchar">Email</option>
                <option value="date">Date</option>
              </select>
            </div>
            <div class="col">
              <label><b>Primary Key</b></label>
              <input class="form-control" type="checkbox" [(ngModel)]="column.ColInfo.primary">
            </div>
          </div><br>
        </fieldset><br> -->








<!-- <div class="container">
  <div class="card col-md-6 offset-md-3 text-white bg-secondary mb-3">
    <div class="card-body">
      <form class="form-group" (ngSubmit)="submit()">
        <table class="table table-condensed table-responsive">
          <button class="btn btn-warning float-right" ng-click="addNewColumn()">Add Column</button><br>
          <div *ngFor="let y of tableinfo">
            <div>
              <label><b>Table Name</b></label>
              <input id="tablename" name="tablename" class="form-control" type="text" ng-model="y.tablename" required>
            </div>
            <div>
              <label><b>Description</b></label>
              <input id="Description" name="description" class="form-control" type="text" ng-model="y.Description"
                required><br>
            </div>
          </div>
          <div class="table">
            <th>Column Name</th>
            <th>Column Type</th>
            <th>Primary Key</th>
            <th>Action</th>
            <tr *ngFor="let x of newColinfo">
              <td><input class="form-control" ng-model="x.fieldname" readonly></td>
              <td><input class="form-control" ng-model="x.fieldtype" readonly></td>
              <td><input class="form-control" ng-model="x.konstraint" readonly></td>
              <td><button type="button" class="btn" ng-click="removeColumn(x.fieldname)"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
            <fieldset *ngFor="let column in columns">
              <div class="row">
                <div class="col">
                  <label><b>Column name</b></label>
                  <input id="text" name="colname{{$index}}" class="form-control" type="text" ng-model="column.ColInfo.name"
                    placeholder="Column Name" required>
                </div>
                <div class="col">
                  <label><b>Column type</b></label>
                  <select id="dtype" name="coltype{{$index}}" class="form-control" ng-model="column.ColInfo.type"
                    required>
                    <option value="text">Text</option>
                    <option value="integer">Integer</option>
                    <option value="bigint">Big Int</option>
                    <option value="varchar">Email</option>
                    <option value="date">Date</option>
                  </select>
                </div>
                <div class="col">
                  <label><b>Primary Key</b></label>
                  <input class="form-control" type="checkbox" ng-model="column.ColInfo.primary">
                </div>
              </div>
            </fieldset>
          </div>
          <td colspan="2"> <button class="btn btn-primary" type="submit">Submit</button></td>
        </table>
      </form>
    </div>
  </div>
</div>
 -->
