<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a *ngIf="auth.isRole() == 'admin'" routerLink="/adminlogin"><i class="fas fa-home"></i> Home</a>
  <a *ngIf="auth.isRole() == 'user'" routerLink="/userlogin"><i class="fas fa-home"></i> Home</a>
  <a routerLink="/about"><i class="fas fa-briefcase"></i> About</a>
  <a (click)="overView(overViewTemplate)"><i class="fas fa-eye"></i> Overview</a>
  <a routerLink=""><i class="fas fa-phone"></i> Contact</a>
</div>

<nav *ngIf="auth.isLoggednIn()" class="navbar">
  <ul class=" nav">
    <span *ngIf="auth.isLoggednIn() && !show" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
    <a *ngIf="!auth.isLoggednIn()" routerLink="/registration">Registration</a>
    <a *ngIf="!auth.isLoggednIn()" routerLink="/login">Login</a>
  </ul>
  <ul *ngIf="auth.isLoggednIn()" class="my-2 my-sm-0 dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">{{auth.getToken()}}</a>
    <div style="text-align: center" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <p class="dropdown-item">Type - {{auth.isRole()}}</p>
      <div class="dropdown-divider"></div>
      <p class="dropdown-item">Id - {{auth.isEmail()}}</p>
      <div class="dropdown-divider"></div>
      <div class="dropdown-item">
        <a class="logout" routerLink="/logout"><i class="fa fa-power-off" aria-hidden="true"> Log Out</i></a>
      </div>
    </div>
  </ul>
</nav>

<div id="main">
  <ng-content></ng-content>
</div>
