#tablebutton {
  margin-top: 5px;
}


.button1 {
  background-color: darkorange !important
}

.button2 {
  background-color: rgb(46, 148, 216) !important
}


.btn {
  color: white !important;

}

.btn-xs {
  padding: 0.5rem .2rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: 0.0rem;
}
