<!-- <div *ngIf="template == 'deleteTemplate'"> -->
<div #templatedelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{title}}
  </div>
  <div class="modal-footer">
    <a type="button" class="btn btn-primary btn-sm " (click)="decline()">Cancel</a>
    <a type="button" class="btn btn-danger btn-sm" (click)="confirm()">Delete</a>
  </div>
</div>
<!-- </div> -->




<!-- <div *ngIf="template == 'fieldTemplate'">
  <div #FieldTemplate>
    <div class="Container">
      <div class="modal-header header">
        <h3>{{title}}</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="formColumnArray()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fieldForm" (ngSubmit)="editFormSubmit()" class="form-group" novalidate>
          <fieldset>
            <div class="row">
              <div class="col-md-12">
                <label>Name <span class='asteriskcolor'>*</span></label>
                <input type="text" class="form-control" formControlName="colname" required>
                <span class="danger" *ngIf="!colname.valid && colname.dirty">Column Name is required!</span>
              </div>

              <div class="col-md-12">
                <label>Label <span class='asteriskcolor'>*</span></label>
                <input type="text" class="form-control" formControlName="label" required>
                <span class="danger" *ngIf="!label.valid && label.dirty">Label is required!</span>
              </div>
              <div class="col-md-12">
                <label>Field type <span class='asteriskcolor'>*</span></label>
                <select type="text" class="form-control" formControlName="type" (change)="onSelect()" required>
                  <option value="short_text">Short Text</option>
                  <option value="long_text">Long Text</option>
                  <option value="integer">Number</option>
                  <option value="bigint">Big Number</option>
                  <option value="email">Email</option>
                  <option value="date">Date</option>
                  <option value="dropdown">Dropdown</option>
                  <option value="radio">Radio</option>
                  <option value="checkbox">Checkbox</option>
                  <option value="star_rating">Star Rating</option>
                </select>
                <span class="danger" *ngIf="!type.valid && type.dirty">Field type is required!</span>
              </div>
              <div class="col-md-12" *ngIf="isLength">
                <label>Max Length <span class='asteriskcolor'>*</span></label>
                <input type="number" class="form-control" formControlName="text_length">
                <span class="alert">Default value would be set to 100</span>
              </div>
              <div class="col-md-12" *ngIf="isDropdown">
                <br><label>Add Suggestions <span class="asteriskcolor">*</span></label>
                <a type="button" class="btn btn-primary float-right cc" (click)="addSuggestion()"><i class='fas fa-plus'></i></a><br><br>
                <label class="databaselabels">Database Value <span class="asteriskcolor">*</span></label>
                <label class="displaylabels">Display Value <span class="asteriskcolor">*</span></label>
                <div formArrayName="arrayList">
                  <div *ngFor="let dropdown of arrayList.controls; let i=index">
                    <div [formGroupName]="i">
                      <div class="container-fluid row">
                        <div class="col-md-4">
                          <input type="text" class="form-control" formControlName="databaseValue" required>&nbsp;&nbsp;
                          <div class="danger" *ngIf="dropdown.controls.databaseValue.dirty">
                            <div class="span_margin" *ngIf="dropdown.hasError('required', 'databaseValue')"> Database
                              value is required</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <input type="text" class="form-control" formControlName="displayValue" required>&nbsp;&nbsp;&nbsp;
                          <div class="danger" *ngIf="dropdown.controls.displayValue.dirty">
                            <div class="span_margin" *ngIf="dropdown.hasError('required', 'displayValue')"> Display
                              value
                              is required</div>
                          </div>
                        </div>
                        <a class="danger pointer" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteSuggestion(i)"><i
                            class="fa fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-12" *ngIf="isRadio">
                <br><label>Add Suggestions <span class="asteriskcolor">*</span></label>
                <a type="button" class="btn btn-primary float-right cc" (click)="addSuggestion()"><i class='fas fa-plus'></i></a><br><br>
                <label class="databaselabels">Database Value <span class="asteriskcolor">*</span></label>
                <label class="displaylabels">Display Value <span class="asteriskcolor">*</span></label>
                <div formArrayName="arrayList">
                  <div *ngFor="let radio of arrayList.controls; let i=index">
                    <div [formGroupName]="i">
                      <div class="container-fluid row">
                        <div class="col-md-4">
                          <input type="text" class="form-control" formControlName="databaseValue" required>&nbsp;&nbsp;
                          <div class="danger" *ngIf="radio.controls.databaseValue.dirty">
                            <div class="span_margin" *ngIf="radio.hasError('required', 'databaseValue')"> Database
                              value
                              is required</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <input type="text" class="form-control" formControlName="displayValue" required>&nbsp;&nbsp;&nbsp;
                          <div class="danger" *ngIf="radio.controls.displayValue.dirty">
                            <div class="span_margin" *ngIf="radio.hasError('required', 'displayValue')"> Display value
                              is
                              required</div>
                          </div>
                        </div>
                        <a class="danger pointer" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteSuggestion(i)"><i
                            class="fa fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-12" *ngIf="isCheckbox">
                <br><label>Add Suggestions <span class="asteriskcolor">*</span></label>
                <a type="button" class="btn btn-primary float-right cc" (click)="addSuggestion()"><i class='fas fa-plus'></i></a><br><br>
                <label class="databaselabels">Database Value <span class="asteriskcolor">*</span></label>
                <label class="displaylabels">Display Value <span class="asteriskcolor">*</span></label>
                <div formArrayName="arrayList">
                  <div *ngFor="let checkbox of arrayList.controls; let i=index">
                    <div [formGroupName]="i">
                      <div class="container-fluid row">
                        <div class="col-md-4">
                          <input type="text" class="form-control" formControlName="databaseValue" required>&nbsp;&nbsp;
                          <div class="danger" *ngIf="checkbox.controls.databaseValue.dirty">
                            <div class="span_margin" *ngIf="checkbox.hasError('required', 'databaseValue')"> Database
                              value is required</div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <input type="text" class="form-control" formControlName="displayValue" required>&nbsp;&nbsp;&nbsp;
                          <div class="danger" *ngIf="checkbox.controls.displayValue.dirty">
                            <div class="span_margin" *ngIf="checkbox.hasError('required', 'displayValue')"> Display
                              value
                              is required</div>
                          </div>
                        </div>
                        <a class="danger pointer" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteSuggestion(i)"><i
                            class="fa fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="col-md-12" *ngIf="isRating">
                <label>Rating Amount <span class='asteriskcolor'>*</span></label>
                <select type="text" class="form-control" formControlName="rating" required>
                  <option *ngFor="let number of numbers" [ngValue]="number">{{number}}</option>
                </select>
              </div>
              <div *ngIf="isEditor" class="container">
                <label>Enable MarkDown Editor</label><br>
                <p-selectButton [options]="ConstraintOptions" formControlName="m_editor"></p-selectButton>
              </div>
              <div class="container">
                <label>Required</label><br>
                <p-selectButton [options]="ConstraintOptions" formControlName="required_key"></p-selectButton>
              </div>
              <div *ngIf="!isDropdown && !isRadio && !isCheckbox && !isRating">
                <div class="col-md-12">
                  <span *ngIf="clicked"><i class="fas fa-angle-right"></i></span>
                  <span *ngIf="!clicked"><i class="fas fa-angle-down"></i></span>
                  <a data-target="#demo" data-toggle="collapse" (click)="click()">Advance Options</a>
                </div>
                <div id="demo" class="collapse container">
                  <div>
                    <br> <label>Primary Key</label><br>
                    <p-selectButton [options]="ConstraintOptions" formControlName="constraints"></p-selectButton>
                  </div>
                  <div>
                    <label>Unique Key</label><br>
                    <p-selectButton [options]="ConstraintOptions" formControlName="unique_key"></p-selectButton>
                  </div>
                </div>
              </div>
            </div>
          </fieldset><br><br>
          <div class="modal-footer">
            <input class="btn btn-primary float-right" [disabled]="!fieldForm.valid" type="submit">
            <input type="button" class="btn btn-warning float-right" (click)="formColumnArray()" value="Cancel">
          </div>
        </form>
      </div>
    </div>
    <div class="zindex">
      <p-toast key="buzz" position="top-right"></p-toast>
    </div>
  </div>
</div> -->
