<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
  crossorigin='anonymous'>

<nav class="navbar">
  <ul class="nav">
    <a *ngIf="!auth.isLoggednIn()" routerLink="/registration">Registration</a>
    <a *ngIf="!auth.isLoggednIn()" routerLink="/login">Login</a>
    <a *ngIf="auth.isRole() == 'admin'" routerLink="/adminlogin">Home</a>
    <a *ngIf="auth.isRole() == 'user'" routerLink="/userlogin">Home</a>
  </ul>
  <ul *ngIf="auth.isLoggednIn()" class="my-2 my-sm-0 dropdown">
    <a style="margin-top: -20px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{auth.getToken()}}</a>
    <div style="text-align: center" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <!-- <h6 class="dropdown-header">User Avatar</h6>
      <div class="dropdown-item" style="text-align: center">
      </div> -->
      <div class="dropdown-divider"></div>
      <p class="dropdown-item">Type - {{auth.isRole()}}</p>
      <div class="dropdown-divider"></div>
      <div class="dropdown-item">
        <a routerLink="/logout"><i class="fa fa-power-off" aria-hidden="true"> Log Out</i></a>
      </div>
    </div>
  </ul>
  <!-- <a class="my-2 my-sm-0" *ngIf="auth.isLoggednIn()" routerLink="/logout">LogOut</a> -->
</nav>
<p-toast position="top-right"></p-toast>
<router-outlet></router-outlet>
