nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #177d6b;
  border-radius: 4px;
}

nav a:visited,
a:link {
  color: #f3e7e7;
}

nav a:hover {
  color: #e20e0e;
  background-color: #e3e8eb;
}

nav {
  background-color: #177d6b;
  padding: 2px
}
