.error {
  color: red
}

.asteriskcolor {
  color: rgba(160, 6, 6, 0.932)
}

.zindex {
  z-index: 1050;
}

.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* margin-top: 75px; */
}

.background_img {
  background-image: url('../image/signbg.jpg');
  background-size: cover;
  height: 100vh;
  color: black;
}
