.asteriskcolor {
  color: red;
}

.error {
  color: red
}

.background_img {
  background-image: url('../image/signbg.jpg');
  background-size: cover;
  height: 100vh;
  color: black;
}

.btn {
  border-radius: 0 !important;
}


input {
  border-radius: 0px !important;
}