.background_img {
  background-image: url('../image/signbg.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 150vh;
  color: black;
}


.error {
  color: red;
}

.asteriskcolor {
  color: red;
}

.zindex {
  z-index: 1050;
}

.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-body {
  padding: 0;
}

.margin {
  margin-top: 10px;
}

.btn_custom {
  border-radius: 0;
  margin-bottom: 10px;
}
