.error {
  color: red;
}

.zindex {
  z-index: 1050;
}

.asteriskcolor {
  color: red;
}

.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.labels {
  margin-left: 150px;
}

.unmodified {
  color: black !important
}

.modified {
  color: #3974b4 !important;
}

.btnclr {
  color: black !important;
}


.cc {
  color: white !important;

}

.header {
  background-color: #177d6b;
}
