.btn {
  color: white !important;

}


.back_image {
  /* background-color: antiquewhite; */
  background-size: cover;
  height: 100vh;
}


#tablebutton {
  margin-top: 5px;
}

#sharebutton {
  background-color: teal !important;
}

.instruction {
  color: red;
  font-size: -1rem !important
}
