.btn {
  color: white !important;

}


.back_image {
  /* background-color: antiquewhite; */
  background-size: cover;
  height: 100vh;
}


#tablebutton {
  margin-top: 5px;
}

#sharebutton {
  background-color: teal !important;
}

.instruction {
  color: red;
  font-size: -1rem !important
}

.alert {
  font-size: smaller;
  color: red;
}

.btn-xs {
  padding: 0.5rem .2rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: 0.0rem;
}
