.asterisk {
  color: rgba(209, 24, 24, 0.911)
}

.error {
  color: red;
}

.login_background {
  background-image: url('../image/pexels-photo-207301.jpeg');
  /* background-color: blanchedalmond; */
  background-size: cover;
  height: 100vh;
  color: black;
}

.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}