<!-- <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
  crossorigin='anonymous'> -->
<!-- <div class="login_background">
  <app-navbar>
    <div style="padding-top: 50px" class="container">
      <div class="card col-md-5 offset-md-3 text-black bg-light ">
        <div class="card-header">
          <h3>Sign In</h3>
        </div>
        <div class="card-body">
          <form name="form" [formGroup]="loginDetails" (ngSubmit)="onSubmit()">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" formControlName="username" required>
              <br>
              <div *ngIf="username.errors">
                <div class="error" *ngIf="username.errors.required && username.dirty">User Name is required</div>
              </div>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" name="password" formControlName="password" required>
              <div *ngIf="password.errors">
                <div class="error" *ngIf="password.errors.required && password.dirty">Password is required</div>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn btn-primary form-control">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a routerLink="/registration">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </app-navbar>
</div> -->




<div class="login_background">
  <app-navbar>
    <div class="wrapper animated bounce">
      <h1>Survey</h1>
      <hr>
      <form name="form" [formGroup]="loginDetails" (ngSubmit)="onSubmit()" novalidate>
        <div>
          <label id="icon" for="username"><i class="fas fa-user"></i></label>
          <input type="text" placeholder="Username" formControlName="username" required>
          <div *ngIf="username.errors">
            <div class="alert" *ngIf="username.errors.required && username.dirty">User Name is required</div>
          </div>
        </div>
        <div>
          <label id="icon" for="password"><i class="fas fa-key"></i></label>
          <input type="password" placeholder="Password" formControlName="password" required>
          <div *ngIf="password.errors">
            <div class="alert" *ngIf="password.errors.required && password.dirty">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Sign In" class="form-control">
        </div>
        <hr>
        <div class="crtacc"><a routerLink="/registration">Create Account</a></div>
      </form>
    </div>
  </app-navbar>
</div>
<p-toast></p-toast>



<!-- <div class="form-group">
            <label for="username"><b>User name </b><span class='asterisk'>*</span></label>
            <i class="fa fa-user"></i><input type="text" class="form-control" formControlName="username" required>
            <div *ngIf="username.errors">
              <div class="error" *ngIf="username.errors.required && username.dirty">User Name is required</div>
            </div>
          </div> -->
<!-- <div class="form-group">
            <label for="password"><b>Password </b><span class='asterisk'>*</span></label>
            <input type="password" class="form-control" name="password" formControlName="password" required>
            <div *ngIf="password.errors">
              <div class="error" *ngIf="password.errors.required && password.dirty">Password is required</div>
            </div>
          </div> -->
<!-- <div class="form-group">
            <p align="center">
              <button type="submit" class="btn btn-primary form-control">Login</button>
            </p>
          </div> -->

