.error {
  color: red;
}

.asteriskcolor {
  color: red;
}

.zindex {
  z-index: 1050;
}

.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-body {
  padding: 0;
}

.background_img {
  background-image: url('../image/signbg.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 150vh;
  color: black;
}

.card-footer {
  background-color: rgba(0, 0, 0, .03) !important
}

.btn {
  border-radius: 0px;
  color: white !important
}

.ss {
  width: 1200px !important;
}


.margin {
  margin-top: 15px !important;
}

input {
  border-radius: 0px !important;
}

.btn_margin {
  margin-bottom: 15px;
}
