.error {
  color: red;
}

.asteriskcolor {
  color: red;
}

.zindex {
  z-index: 1050;
}

.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-body {
  padding: 0;
}

.background_img {
  background-image: url('../image/signbg.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 150vh;
  color: black;
}

.card-footer {
  background-color: rgba(0,0,0,.03) !important
}
