.error {
  color: red;
}

.asteriskcolor {
  color: red;
}

.zindex {
  z-index: 1050;
}

.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-body {
  padding: 0;
}

.background_img{
  background-image: url('../image/signbg.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  color: black;
}