.btncustom {
  /* background-color: #177d6b; */
  background: steelblue;
}

.btn {
  color: white !important;

}

#tablebutton {
  margin-top: 5px;
}


.btn-xs {
  padding: 0.5rem .2rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: 0.0rem;
}
