<app-navbar>
  <div class="container-fluid">
    <div>
      <span class="heading"><strong>Surveys</strong></span>
      <a type="button" class="btn btn-primary btn-sm fnt float-right" (click)="create()"><i class='fas fa-plus'></i>
        Create Survey</a><br><br>
    </div>

    <div class="card col-md-12 text-black">
      <div class="card-body">

        <table datatable width="100%" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-condensed">
          <thead>
            <tr>
              <th>Id</th>
              <th>Table Name</th>
              <th>Description</th>
              <th>Modified At</th>
              <th>Modified By</th>
              <th>CreatedBy</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of datas">
              <td>{{row.id}}</td>
              <td><a routerLink="/viewTable/{{row.id}}">{{row.tablename}}</a></td>
              <td>{{row.Description}}</td>
              <td>{{row.modifiedat | date:'medium'}}</td>
              <td>{{row.modifiedby}}</td>
              <td>{{row.createdby}}</td>
              <td>
                <!-- <a id="tablebutton" type="button" class="btn btn-primary btn-xs" (click)="viewTableData(row.id)">View</a> -->
                <a id="tablebutton" type="button" class="btn btncustom btn-xs" (click)="manage(row.id)">Manage</a>
                <a id="tablebutton" type="button" class="btn btn-warning btn-xs" (click)="edit(row.id)">Edit</a>
                <!-- <a id="tablebutton" type="button" class="btn btn-danger btn-xs" (click)="deleteModal(templatedelete,row.id)">Delete</a> -->
                <a id="tablebutton" type="button" class="btn btn-danger btn-xs" (click)="deleteModal(row.id)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <p-toast position="top-right"></p-toast> -->
</app-navbar>









































<!-- <ng-template #templatecreate>
  <app-add-table>
  </app-add-table>
</ng-template> -->



<!-- 
<ng-template #templatedelete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete ?
  </div>
  <div class="modal-footer">
    <a type="button" class="btn btn-primary btn-sm " (click)="confirm()">Confirm</a>
    <a type="button" class="btn btn-danger btn-sm" (click)="decline()">Decline</a>
  </div>
</ng-template> -->




<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"></table> -->
